# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**nohup.out

# But not these files...
!.gitignore
!README.md
!.Xresources
!.xinitrc
!.zshrc
!.pkg-list
!.Xresources.d
!.icons
!.gtkrc-2.0

!.screenlayout
.screenlayout/nohup.out
!.config
.config/*
!.config/i3
!.config/iwd
!.config/rofi
!.config/keepassrc
!.config/docker
!.config/mpd
!.config/ncmpcpp
!.config/ghostwriter
!.config/dunst
!.config/nano
!.config/neofetch
!.config/fontconfig
!.config/gtk-3.0
!.config/systemd
.config/systemd/user/default.target.wants
!.config/volumeicon
!.config/picom
!.config/backgrounds
!.config/redshift
!.config/iolk-scripts
