# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**nohup.out

# But not these files...
!.gitignore
!README.md
!.Xresources
!.xinitrc
!.zshrc
!.Xresources.d

!.screenlayout
.screenlayout/nohup.out
!.config
.config/*
!.config/i3
!.config/rofi
!.config/dunst
!.config/volumeicon
!.config/backgrounds
!.config/redshift
!.config/iolk-scripts
