!
! In order to include correctly you have to pass -I$HOME to xrdb
! REFERENCE: https://github.com/void-linux/void-packages/issues/20207
!

!
! NB: The #define and #include works only if you have a C preprocessor (gcc in archlinux)
!     and only if you run the xrdb command without --no-cpp 
! REFERENCE: https://unix.stackexchange.com/questions/296355/xterm-not-loading-xresources-properly#answer-304558
!

!
! ARCH DEPENDACIES: gcc, compton, urxvt-perls
!

#include ".Xresources.d/transparency"
#include ".Xresources.d/appearance"
#include ".Xresources.d/behaviours"
#include ".Xresources.d/scrollbar"
#include ".Xresources.d/colors"
